pydantic==1.7.3
feedparser==5.2.1
pyquery==1.4.3
retrying==1.3.3
aiofiles==0.5.0
requests==2.21.0
emoji==0.5.4
googletrans==2.4.0
APScheduler==3.6.3
httpx==0.12.1
Pillow==8.0.1
nonebot2==2.0.0a7
nb-cli==0.3.1
nonebot-test==0.1.0