feedparser~=6.0.0
pyquery~=1.4.3
aiofiles~=0.5.0
pydantic~=1.7.3
requests~=2.23.0
retrying~=1.3.3
httpx~=0.16.1
emoji~=0.5.4
google-trans-new~=1.1.9
APScheduler~=3.7.0
Pillow~=8.0.1
nonebot2==2.0.0a10
nb-cli~=0.3.2
nonebot-test~=0.1.0
nonebot-plugin-apscheduler~=0.1.2
typing-extensions~=3.7.4.3
python-qbittorrent~=0.4.2