# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the 2.0 branch
  push:
    branches: [ 2.0 ]
  pull_request:
    branches: [ 2.0 ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Black Code Formatter
        # You may pin to the exact commit or the version.
        # uses: lgeiger/black-action@4379f39aa4b6a3bb1cceb46a7665b9c26647d82d
        uses: lgeiger/black-action@v1.0.1
        with:
          args: ". --check"
